.middle {
    position: absolute;
    top: 25%;
    right: 25%;
}

.sign-up-menu {
    border: 1px solid red;
    width:fit-content;
    padding:30px;
}

.facebook {
    border: 1px solid red;
    width: fit-content;
    margin-top: 50px;
    padding: 30px;
}