@font-face {
    font-family: "FacebookLogo-bold";
    src: url("/assets/fonts/klavikaboldbold-webfont.woff");
}
@font-face {
    font-family:"FacebookLogo-normal";
    src: url("/assets/fonts/klavikalight-plain-webfont.woff");
}




/* ---------Middle Section---------- */

.middle {
    position: absolute;
    top: 300px;
    bottom:300px;
    right: 20%;
    left:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Sign Up Menu */

.sign-up-menu {
    width:50%;
    text-align: center;
}

.sign-up-box {
    border: 1px solid rgba(1,1,1,0.1);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
}

.input-box {
    width: 80%;
    height: 30px;
    border-color: rgba(1,1,1,0.1);
    padding: 5px;
    color: rgba(1,1,1,0.8);
    font-size: 20px;
}


.blue-button {
    width: 80%;
    background-color: #1877f2;
    color: white;
    border-color: white;
}

.green-button {
    width: 60%;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    border-color: white;
}

/* Facebook text */

.facebook {
    margin-top: 50px;
    width: 80%
}

.facebook h1 {
    color: #1877f2;
    font-size: 64px;
    font-family: FacebookLogo-bold;

}
.facebook h2 {
    font-family: FacebookLogo-normal;
    font-size: 3rem;
}

/* Footer */

footer {
    position:fixed;
    bottom:0px;
    height: 400px;
    padding-inline:50px;
    right: 20%;
    left: 20%;
    color: rgba(1, 1, 1, 0.7);
}

footer > ul {
    display:flex;
    list-style: none;
}

footer li {
    padding: 10px;
    display:inline;
    cursor: pointer;
}

.meta {
    padding-left: 50px;
}
/* Utilities */

.bold-black-link {
    font-weight: bold;
    cursor: pointer;
    font-size:18px;
}

.button {
    font-size: 20px;
    margin: 20px;
    padding-block: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.blue-link {
    color: #4267B2;
    cursor: pointer;
}

.line {
    border-top: 1px solid rgba(1,1,1,0.1);
}

@media screen and (min-width:1100px) {
    middle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    middle > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}