@font-face {
    font-family: "FacebookLogo-bold";
    src: url("/assets/fonts/klavikaboldbold-webfont.woff");
}
@font-face {
    font-family:"FacebookLogo-normal";
    src: url("/assets/fonts/klavikalight-plain-webfont.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------Middle Section---------- */

.middle {
    position: absolute;
    top: 250px;
    right: 20%;
    left:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Log in Menu */

.log-in-menu {
    width:50%;
    text-align: center;
}

.log-in-box {
    border: 1px solid rgba(1,1,1,0.1);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
    margin-bottom: 20px;
}

.input-box {
    width: 80%;
    height: 50px;
    border-color: rgba(1,1,1,0.1);
    padding: 5px;
    color: rgba(1,1,1,0.8);
    font-size: 20px;
}


.blue-button {
    width: 80%;
    background-color: #1877f2;
    color: white;
    border-color: white;
}

.green-button {
    width: 60%;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    border-color: white;
}


/* Facebook text */

.facebook {
    margin-top: 50px;
    width: 80%
}

.facebook h1 {
    color: #1877f2;
    font-size: 64px;
    font-family: FacebookLogo-bold;

}
.facebook h2 {
    font-family: FacebookLogo-normal;
    font-size: 3rem;
}

/* Footer */

footer {
    position:fixed;
    bottom:0px;
    height: 25vh;
    padding-inline:50px;
    right: 20%;
    left: 20%;
    color: rgba(1, 1, 1, 0.7);
    font-size: 10px;
}

footer > ul {
    display:flex;
    list-style: none;
}

footer li {
    padding: 10px;
    display:inline;
    cursor: pointer;
}

.meta {
    padding-left: 10px;
}
/* Utilities */

.bold-black-link {
    font-weight: bold;
    cursor: pointer;
    font-size:18px;
}

.button {
    font-size: 20px;
    margin: 20px;
    padding-block: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.blue-link {
    color: #4267B2;
    cursor: pointer;
}

.line {
    border-top: 1px solid rgba(1,1,1,0.1);
    margin-block: 20px;
}

.lang-list > li > button {
    width: 40px;
    height: 20px;
}

@media (max-width:1100px) {
    .middle {
        position: absolute;
        top: 0;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .log-in-menu {
        width: 80%;
    }
    .input-box{
        font-size: 15px;
    }
    .facebook h1 {
        font-size: 40px;
    }
    .facebook h2 {
        font-size: 30px;
    }
    .list {
        width: 120%;
        padding: 0;
    }
    footer {
        padding-inline: 0;
        min-width: 50%;
    }
    .lang-list {
        margin-top: 100px;
        font-size: 10px;
        display: inline;
        padding: 0;
    }
    .services-list {
        height: fit-content;
    }
    .meta {
        padding: 0;
    }
}